<!-- home-header.html -->
<header class="homepage-header">
  <nav class="navbar">
  </nav>
  <section class="header-content">
    <h1 class="centered-header">Task Managers</h1>
  </section>
</header>

<main class="task-columns">
  <div class="column">
    <h2>Upcoming</h2>
    <ul>
      {{! Add upcoming tasks here }}
      {{#each tasks}}
          <tr>
            <p>Title: 
            <td>{{this.title}}</td></p>
            <p>Description: 
            <td>{{this.description}}</td></p>
            <p>Reward: 
            <td>{{this.rewards}}</td></p>
            <p>Priority: 
            <td>{{this.priority}}</td></p>
            <p>Due Date: 
            <td>{{this.due_date}}</td></p>
          </tr>
          <tr>
    <!-- Spacer row spanning 5 columns for extra space or a visual divider -->
    <td colspan="5"><br></td>
    <td colspan="5"><br></td>
    </tr>
      {{/each}}
      {{! <li>No tasks yet</li> }} 
    </ul>
  </div>
  <div class="column">
    <h2>Dailys</h2>
    <ul>
      {{! Add daily tasks here }}
      
    </ul>
  </div>
</main>


<style>
  .centered-header { text-align: center; margin-top: 20px; } .task-columns {
  display: flex; justify-content: space-around; margin: 20px; } .column { width:
  45%; border: 1px solid #ccc; padding: 15px; border-radius: 5px;
  background-color: #f9f9f9; } .column h2 { text-align: center; }
</style>