<!DOCTYPE html>
<html lang="en">

{{!-- <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css"> <!-- Optional: Add your CSS file -->
</head> --}}

<body>
  <main>
    <div class="tasks-container">
      <!-- Daily Tasks Column -->
      <section class="tasks-column">
        <h2>Daily Tasks</h2>
        {{#if daily_tasks.length}}
        <div class="task-list">
          {{#each daily_tasks}}
          <div class="task-box">
            <div class="task-header">
              <h4 class="task-title">{{title}}</h4>
              <span class="task-description">{{description}}</span>
            </div>
            <div class="task-footer">
              <p class="task-priority"><strong><i class="fas fa-flag"></i> Priority:</strong> {{priority}}</p>
              <p class="task-reward"><strong><i class="fas fa-star"></i> Reward:</strong> {{rewards}}</p>
            </div>
          </div>
          {{/each}}
        </div>
        {{else}}
        <p>No tasks for today!</p>
        {{/if}}
      </section>

      <!-- Upcoming Tasks Column -->
      <section class="tasks-column">
        <h2>Upcoming Tasks</h2>
        {{#if upcoming_tasks.length}}
        <div class="task-list">
          {{#each upcoming_tasks}}
          <div class="task-box">
            <div class="task-header">
              <h4 class="task-title">{{title}}</h4>
              <span class="task-description">{{description}}</span>
            </div>
            <div class="task-details">
              <p><strong><i class="fas fa-calendar-alt"></i> Due Date:</strong> {{due_date}}</p>
            </div>
            <div class="task-footer">
              <p class="task-priority"><strong><i class="fas fa-flag"></i> Priority:</strong> {{priority}}</p>
              <p class="task-reward"><strong><i class="fas fa-star"></i> Reward:</strong> {{rewards}}</p>
            </div>
          </div>
          {{/each}}
        </div>
        {{else}}
        <p>No upcoming tasks!</p>
        {{/if}}
      </section>
    </div>
  </main>

  {{> currentTaskModal }}
  {{> addTaskModal }}
</html>